<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="runner-local-4.2.1-alpha.1" value="D:\QaaS\LocalFeed\QaaS.Runner.4.2.1-alpha.1" />
    <add key="common-generators-local-3.2.1-alpha.2" value="D:\QaaS\LocalFeed\QaaS.Common.Generators.3.2.1-alpha.2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
